.singleCard {
  display: flex;
  flex-direction: column;

  .headerGroup {
    display: flex;
    justify-content: space-between;
    
    .title {
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  .optionsGroup {
    display: flex;
    gap: 40px;

    .options {
      display: flex;
      flex-direction: column;
      gap: 15px;

      div {
        display: flex;
      }
      div > p:first-child {
        width: 180px;
        font-weight: 700;
      }
    }
  }
}
