.search {
  position: relative;
  margin-bottom: 30px;
  text-align: right;
  .searchInput {
    border: 1px solid black;
    padding: 10px 30px;
    width: 250px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: white;
    width: 250px;

    li {
      cursor: pointer;

    }
    
    & > :last-child {
      font-size: 14px;
      text-align: left;
      padding: 10px 10px;
      line-height: 18px;
    }
  }
}
