header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .login,
  .out {
    border: 1px solid black;
    padding: 4px 0;
    width: 90px;
    text-align: center;
    margin-left: 4px;
  }
}
