@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
}

.loader {
  width: 480px;
  height: 480px;
  position: fixed;
  top: calc(50% - 240px);
  left: calc(50% - 240px);
}

.container {
  margin: 0 auto;
  display: grid;
  max-width: 960px;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

